body {
    margin: 0;
    padding: 0;
    /* background-color: #c8d6e5; */
    background-color: white;
    color: black;
}

li {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
}

.title {
    font-size: 60px;
    text-align: center;
    padding-top: 5%;
    /* font-family: 'Courier New', Courier, monospace; */
}

.search-box {
    text-align: center;
    padding-top: 30px;
}

.input {
    height: 21px;
    width: 30%;
    font-size: 16px;
    padding: 5px 5px;
    line-height: 21px;
    outline-color: black;
}

.btn {
    font-size: 16px;
    height: 35px;
    line-height: 21px;
    margin-left: 10px;
    background-color: white;
    border-style: ridge;
    border-width: 1px;
    animation: hl-b2w 500ms;
}

.btn:hover {
    font-size: 16px;
    height: 35px;
    line-height: 21px;
    margin-left: 10px;
    border-style: ridge;
    color: white;
    background-color: black;
    border-width: 1px;
    border-color: white;
    animation: hl-w2b 500ms;
}

@keyframes hl-b2w {
    from {
        background-color: black;
        color: white;
    }
    to {
        background-color: white;
        color: black;
    }
}

@keyframes hl-w2b {
    from {
        background-color: white;
        color: black;
    }
    to {
        background-color: black;
        color: white;
    }
}

.website {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.site {
    width: 64px;
    height: 64px;
    cursor: pointer;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.site:hover {
    cursor: pointer;
    outline-style: ridge;
    outline-width: 1px;
    outline-color: black;
    border-width: 1px;
}

.image {
    width: 32px;
    height: 32px;
}

.name {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}
